@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
.hide {
  display: none;
}

.pr-h {
  color: red;
}

.pr-m {
  color: royalblue;
}

.pr-l {
  color: green;
}

.st-f {
  text-decoration: line-through;
  color: gray;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #3b8c75;
  padding: 0.5em;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav .logo {
  color: #bdf2e3;
  font-size: 1.2rem;
  font-weight: 700;
}
nav .menu {
  padding: 0.2em;
  cursor: pointer;
}
nav .menu i {
  font-size: 1.4rem;
  color: #bdf2e3;
}

.sidebar {
  border: 1px solid #63a693;
  width: 60%;
  margin-left: auto;
  background-color: #3b8c75;
  color: #fff;
  position: fixed;
  right: 0;
  top: 2.8em;
  bottom: 2.75em;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #9ad9c7;
}

.sidebar-default {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.5em;
}

.sb-item {
  padding: 0.2em 0.5em;
  cursor: pointer;
}
.sb-item:hover {
  background-color: #316c5b;
}

.sidebar-projects .sb-p-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5em;
  border: 1px solid #63a693;
  cursor: pointer;
}
.sidebar-projects .sb-p-title:hover {
  background-color: #9ad9c7;
  color: #316c5b;
}
.sidebar-projects .sb-p-title h3 {
  margin: 0;
  padding: 0.2em 0.5em;
}
.sidebar-projects .new-project {
  display: none;
  justify-content: space-between;
  margin: 0.5em 0.2em;
}
.sidebar-projects .new-project input {
  border: none;
  padding: 0.2em;
  width: 80%;
  background-color: #bdf2e3;
}
.sidebar-projects .new-project input:focus {
  outline: none;
}
.sidebar-projects .new-project i {
  color: #bdf2e3;
}
.sidebar-projects .new-project i:hover {
  color: #fff;
}
.sidebar-projects .sb-p-items {
  list-style-type: none;
  padding-left: 0;
}

main {
  margin: 3.5em 0.5em 0.5em 0.5em;
  display: none;
}
main .category {
  font-weight: 700;
  color: #316c5b;
  border-bottom: 1px solid #63a693;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
main .category .new-todo {
  color: red;
  cursor: pointer;
  transition: all 0.3s linear;
}
main .category .new-todo:hover {
  transform: scale(1.4);
}

.td-list {
  list-style-type: none;
  padding-left: 0;
}
.td-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  border-bottom: 1px solid #9ad9c7;
}
.td-list-item .check {
  width: 8%;
}
.td-list-item .info {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.td-list-item .info .title {
  cursor: pointer;
}
.td-list-item .info-secondary {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 0.4em;
}
.td-list-item .info-secondary .due-dt {
  color: #316c5b;
}
.td-list-item .info-secondary .btns span {
  padding: 0.3em;
  cursor: pointer;
}
.td-list-item .info-secondary .btns .edit {
  color: blue;
}
.td-list-item .info-secondary .btns .delete {
  color: red;
}

.todo-form {
  margin: 2.8em 0.5em;
  border: 1px solid transparent;
}

form > * {
  margin-top: 1em;
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

select {
  background-color: #fff;
}

textarea {
  height: 30vh;
  resize: none;
  font-size: 0.9rem;
  line-height: 1.4;
}

form input:not([type=radio]),
textarea,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4em;
  border: none;
  border-bottom: 1px solid #3b8c75;
  font-size: 1rem;
}
form input:not([type=radio]):focus,
textarea:focus,
select:focus {
  outline: none;
}

.todo-submit .submit {
  border-bottom: none;
  background-color: #3b8c75;
  color: #bdf2e3;
  font-weight: 700;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.8em;
}
.todo-submit .submit:hover {
  background-color: #316c5b;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=main.css.map*/