nav {
  display: flex;
  justify-content: space-between;
  background-color: #3b8c75;
  padding: 0.5em;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    color: #bdf2e3;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .menu {
    padding: 0.2em;
    cursor: pointer;

    i {
      font-size: 1.4rem;
      color: #bdf2e3;
    }
  }
}