.todo-form {
  margin: 0.5em;
}

form > * {
  margin-top: 1em;
}

form label {
  display: block;
  margin-bottom: 0.5em;
}

form input:not([type='radio']), textarea, select {
  width: 100%;
  box-sizing: border-box;
  padding: 0.4em;
  border: none;
  border-bottom: 1px solid #3b8c75;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

select{
  background-color: #fff;
}

textarea {
  height: 30vh;
  resize: none;
  font-size: 0.9rem;
  line-height: 1.4;
}

.todo-submit .submit{
  border-bottom: none;
  background-color: #3b8c75;
  color: #bdf2e3;
  font-weight: 700;

  &:hover {
    background-color: #316c5b;
  }
}


